<p id="notice"><%= notice %></p>

<h1>Item</h1>

<p>
  <strong>Code:</strong>
  <%= @item.code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount_formatted %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status.titleize %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
